<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>com.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSegmentServlet</servlet-name>
        <servlet-class>com.AddSegmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSegmentServlet</servlet-name>
        <servlet-class>com.UpdateSegmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurposeServlet</servlet-name>
        <servlet-class>com.PurposeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchemeSevlet2</servlet-name>
        <servlet-class>com.SchemeSevlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSegmentServlet</servlet-name>
        <url-pattern>/AddSegmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSegmentServlet</servlet-name>
        <url-pattern>/UpdateSegmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurposeServlet</servlet-name>
        <url-pattern>/PurposeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchemeSevlet2</servlet-name>
        <url-pattern>/SchemeSevlet2</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            C:\Users\977042160v\Documents\NetBeansProjects\LoanAdvisory\src\java\Uploads\
        </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
